body {
    font-family: Arial;
    background-color: #111;
    color: white;
}

.header {
    background-color: #ff6a00;
    color: black;
    text-align: center;
    padding: 15px;
}

.menu {
    background-color: #222;
    height: 100%;
    padding: 15px;
}

.menu a {
    display: block;
    color: #ff6a00;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ff6a00;
    text-align: center;
}

.menu a:hover {
    background-color: #ff6a00;
    color: black;
}

.content {
    background-color: #1c1c1c;
    margin: 15px;
    padding: 20px;
    border: 2px solid #ff6a00;
}

.products {
    display: flex;
    justify-content: space-around;
}

.product {
    width: 200px;
    border: 1px solid #ff6a00;
    padding: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 60%;
}

.price {
    color: #ffaa00;
    font-weight: bold;
}

.cart {
    position: absolute;
    top: 10px;
    right: 20px;
    border: 1px solid #ff6a00;
    padding: 5px;
}

